// === Colors ===
$white-1: #ffffff;
$white-2: #f1f5f7;
$white-3: #eeeeee;

$black-1: #0f0f0f;
$black-2: #1d1d1d;
$black-3: #262727;

$good-1: #3b753e;
$warn-1: #fff93d;
$bad-1: #ac3e3e;
$note-1: #2e8bc0;

$good-a: rgba(11, 252, 7, 0.5);
$warn-a: rgba(252, 248, 7, 0.5);
$bad-a: rgba(252, 7, 11, 0.5);

// ==== NDS ====
$nds-gry1: #f2f2f2;
$nds-gry2: #e0e0e0;
$nds-gry3: #bdbdbd;
$nds-gry4: #828282;
$nds-gry5: #4f4f4f;
$nds-gry6: #333333;

$nds-blk1: #262727;
$nds-blk2: #1d1d1d;
$nds-blk3: #0f0f0f;

$nds-pnk1: #faeaf9;
$nds-pnk2: #ffd3e6;
$nds-pnk3: #f491c2;

$nds-crm1: #fff1e4;
$nds-crm2: #fbd4af;
$nds-crm3: #e9bc95;

$nds-blu1: #7cdbff;
$nds-blu2: #082de8;
$nds-blu3: #393264;
$nds-blu4: #58a2bb; // gk

$nds-grn1: #b0eedd;
$nds-cly1: #7e3b32;
$nds-mel1: #ff8d8c;

// === Spaces ===
